* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

h2 {
  color: teal;
}

.form-771 {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

.input-12 {
  margin: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  width: 100%;
  max-width: 320px;
  padding: 8px;
  font: inherit;
  letter-spacing: inherit;
}

.button-12 {
  display: inline-flex;
  padding: 4px;
  margin-right: 2px;
  margin-left: 2px;
}

.login-form {
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 16px;
}

.login-form input,
.login-form button {
  width: 100%;
  padding: 4px;
  font: inherit;
}

.widget {
  text-align: center;
}

.widget p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 48px;
}

.widget span {
  font-family: monospace;
}

.widget button {
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
}

#validation-input {
  border: 2px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.img {
  max-width: 90%;
  height: auto;
  border-radius: 24px;
}

.gallery {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  font-weight: 500;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

/* module 7 */

#parent,
#child,
#descendant {
  margin: 16px;
  padding: 16px;
  border: 4px solid #212121;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

#parent {
  background-color: #673ab7;
}

#child {
  background-color: #448aff;
}

#descendant {
  background-color: #ff9800;
}

.simple-box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: beige;
  cursor: pointer;
}

.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  background-color: #fff;
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
  border-radius: 3px;
  padding: 24px;
  user-select: none;
  cursor: pointer;

  transform: translateX(calc(100% + 20px));
  visibility: hidden;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alert.success {
  border: 1px solid #388e3c;
  background-color: #4caf50;
  color: #fff;
}

.alert.is-visible {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.posts {
  margin: 0;
  list-style: none;
  padding: 24px;
}

.posts li:not(:last-child) {
  margin-bottom: 16px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.post-title:first-letter {
  text-transform: uppercase;
}

.post-body {
  margin: 0;
}
